.card {
  margin-top: 50px;
  width: 500px;
  height: 275px;
  display: flex;
  border: 1px solid #4242423b;
  flex-direction: column;
  padding: 1rem 1.5rem;
  gap: 1.25rem;
}

.card__text {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.status {
  border-radius: 0.2rem;

  padding: 0.5rem 1rem;
  text-align: center;
}

.status-not-started {
  background-color: #4242423b;
  color: #0e0e0edd;
}

.status-in-progress {
  background-color: #e09e2c;
  color: #474239;
}

.status-refused {
  background-color: #e14639;
  color: #332726;
}

.status-done {
  background-color: #88e12d;
  color: #2e3329;
}

.button {
  align-self: center;
  text-align: center;
  width: 200px;
}
@media (400px<= width <= 600px) {
  .card {
    width: 100%;
  }

  .card p {
    font-size: 16px;
  }
}
