.home {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 2rem;
}

.logo {
  align-self: center;
  width: 400px;
}

.title {
  font-family: var(--font-title);
  text-transform: uppercase;
  align-self: center;
}

.subtitle {
}

.details-group {
  padding: 0 2rem;
}

.detail {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  align-items: center;
}

.detail__logo {
  width: 50px;
  height: 50px;
}

.detail__text a {
  color: var(--orange);
  text-decoration: none;
}

.detail__text span {
  color: var(--green);
  font-weight: var(--fw-bold);
}

.flex-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  background-color: var(--green);
  text-decoration: none;
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 10px;
}

@media (200px <= width <= 800px) {
  .details-group {
    padding: 0;
  }
  .detail {
    flex-direction: column-reverse;
  }

  .flex-group {
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
}
