.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container-page {
  width: 80%;
  margin-top: 80px;
}

@media (400px <= width <= 600px) {
  .container-page {
    width: 83%;
  }
}
